---
const { alt, title, paragraph } = Astro.props as {
  alt: boolean;
  title: string;
  paragraph: string;
};
---

<div class={`w-full py-4 ${alt ? "bg-slate-100" : ""}`}>
  <div class="w-[80%] max-w-[1400px] mx-auto">
    <h1
      class="text-3xl w-fit mb-4 font-bold border-4 border-razzmatazz-500 text-navy-blue-500 border-x-0 border-t-0"
    >
      {title}
    </h1>
    <p>
      {paragraph}
    </p>
  </div>
</div>
